sftp-config.json
*.DS_Store
build/
docs/latex
build.config
.tags*
*.ptx
*.mex*

timing-results*/
new-timing-results*/
timing-results*.tgz
ert_results/*.tgz
ert_results/dgx*

results/figure.pdf

tmp*
out*
*.out
tags
