sftp-config.json
*.DS_Store
build/
docs/latex
build.config
.tags*
*.ptx
*.mex*


benchmarks/test_scripts/run_pasta_all_coo.sh
benchmarks/test_scripts/run_pasta_all_hicoo.sh

timing-results*/
new-timing-results*/
timing-results*.tgz
ert_results/*.tgz
ert_results/dgx*

results/figure.pdf

tmp*
out*
*.out
tags
